body{
    color:rgb(255, 255, 251);
    background-image: url(https://wallpapercave.com/wp/wp2264641.png)
}

header {
border:solid 2px rgb(0, 0, 0);
}

section{
padding-top: 50px;
padding-bottom: 50px;
margin: 50px;
display: flex;
justify-content: center;

}

div{
margin-right: 50px;

}

h2{
    justify-content: left;
}